* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  margin: 4px;
}

 button {
  width: 150px;
  height: 30px;
  border-radius: 6px;
  border-style: none;
  background-color: steelblue;
  font-size: 0.9em;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
 }

 button:hover{
  cursor: pointer;
  background-color: rgb(105, 170, 210);
 }

 img {
  width: 106px;
  margin: 5px;
  border-radius: 13px;
}